<div class="fileUpload ng-image-crop ng-image-crop--{{ shape }}" ng-style="moduleStyles">
    <section ng-style="sectionStyles" ng-show="step==1">
        <span class="btn purple fileinput-button">
            <i class="fa fa-file-image-o"></i>
            <input type="file" class="image-crop-filepicker" name="file">
        </span>
    </section>
    <section ng-style="sectionStyles" ng-show="step==2">

        <canvas class="cropping-canvas" width="{{ canvasWidth }}" height="{{ canvasHeight }}"
                ng-mousemove="onCanvasMouseMove($event)" ng-mousedown="onCanvasMouseDown($event)"
                ng-mouseup="onCanvasMouseUp($event)"></canvas>

        <div class="buttons">
            <button ng-click="crop()" class="btn yellow"><i class="fa fa-crop"></i></button>
            <button ng-click="reset()" class="btn blue"><i class="fa fa-refresh"></i></button>
        </div>
        <div ng-style="croppingGuideStyles" class="cropping-guide"></div>
    </section>
    <section ng-style="sectionStyles" class="section-final" ng-show="step==3">
        <div class="buttons">
            <button ng-click="reset()" class="btn blue"><i class="fa fa-refresh"></i></button>
        </div>
        <div ng-style="croppingGuideStyles" class="cropping-guide-final">
            <img class="cropped-image" ng-src="{{ result }}"/>
            <button ng-click="upload()" class="btn green buttons"><i class="fa fa-upload"></i></button>
        </div>
        <img class="final-cropped-image" ng-src="{{ croppedDataUri }}" ng-hide="hideOriginal || false"/>
    </section>
</div>
